//- Common block: product header
mixin productDetailPaneTop(imgID, productName, title, paragraph, btn, btn_url, sublink, sublink_url)
	section.pane.pane-top
		.container
			.row
				figure.illustration
					img(src="/images/illustration_" + imgID + ".png")
				.description
					h4= productName
					h1!= title
					p!= paragraph

					if btn || sublink
						p
						if btn
							a(href= btn_url ).btn.btn-primary.btn-lg #{btn}
						if sublink
							a(href= sublink_url).btn #{sublink}


//- Common block "request a demo"
mixin paneFinalCloser(title, paragraph, btn, btn_url)
	section.pane.short.green-grid
		.container
			header
				h1= title
				p= paragraph

				if btn
					p: a(href=btn_url).btn.btn-primary.btn-lg #{btn}


//- Partners blocks
mixin partnerBlock(logo, name, description)
	.partner
		.logo
			img(src="/images/logo_" + logo + ".png")

		.description
			h2= name
			p!= description

//- Navigation (mixin cause Jade doesn't support dynamic includes)
mixin navigation()
	nav#nav_top
		.row
			header
				figure.logo
					a(href="/")
						if current_section === 'home' || current_section === 'about'
							img(src="/images/li_logo_horizontal_white.svg")
						else 
							img(src="/images/li_logo_horizontal.svg")

				.hamburger
					span(class="glyphicon glyphicon-menu-hamburger" aria-hidden="true")
						
			ul#nav_collapse.menu
				each item in sections
					li(class="nav-" + item.id)
						if current_section === item.id
							a.selected(href=item.url, title=item.name)= item.name
						else
							a(href=item.url, title=item.name)= item.name