//- Common pane: product header
mixin productDetailPaneTop(imgID, productName, title, paragraph, btn, btn_url, sublink, sublink_url)
	section.pane.pane-top
		.container
			.row
				figure.illustration
					img(src="images/illustration_" + imgID + ".png")
				.description
					h4= productName
					h1!= title
					p!= paragraph

					if btn || sublink
						p
						if btn
							a(href= btn_url ).btn.btn-primary.btn-lg #{btn}
						if sublink
							br
							a(href= sublink_url).btn.learn-more= sublink


//- Common pane: "request a demo"
mixin paneFinalCloser(title, paragraph, btn, btn_url)
	section.pane.short.green-grid
		.container
			header
				h1= title
				p= paragraph

				if btn
					p: a(href=btn_url).btn.btn-primary.btn-lg #{btn}


//- Partners blocks
mixin partnerBlock(logo, name, description)
	.partner
		.logo
			img(src="images/logo_" + logo + ".png")

		.description
			h2= name
			p!= description

//- 
//- Navigation
//- 
mixin navigation(items, id, classes)
	ul(id= id, class= classes)
		each item in items
			//- Adds active class if current section
			- var activeStatus = current_section === item.id ? 'active' : ''
			- var current = "nav-" + item.id

			li(class= activeStatus + " " + current)
				a(href=item.url, title=item.name)= item.name


//- Button
mixin button(text, url)
	a(href=url).btn.btn-primary.btn-lg= text

//- Back to top link
mixin backToTop()
	.to-top
		a(href="#", title="To top") #[span(aria-hidden="true").glyphicon.glyphicon-arrow-up] Back to top